/* custom.css */

/* .btn-square {
  border: 1px solid gray;
  margin-left: .5rem;
} */

/* Contact form */

form {
  display: inline-block;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: .9em;
  color: #777;
  min-width: 90px;
  text-align: right;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 1em;
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 1em;
  background-color: #4460aa;
  color: #fff;
  border: none;
  margin-top: 10px; /* to separate from reCaptcha block */
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, text areas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999;
}

input:focus, 
textarea:focus {
  /* Set the outline width and style */
  outline-width: 3px;
  outline-style: solid;
  /* To give a little highlight on active elements */
  outline-color: rgba(255, 89, 0, 0.6)
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 10em;
}

