<script src="/js/contact.js" defer></script>

<form id="form">
  <h1>{{ T "to_label" }}: Jonathan</h1>

  <div class="field">
    <label for="visitor_name">{{ T "from_label" }}</label>
    <input
      type="text"
      name="visitor_name"
      id="visitor_name"
      placeholder={{ T "name_label" }}
      required
    />
  </div>
  <div class="field">
    <label for="visitor_email">{{ T "reply_label" }}</label>
    <input
      type="email"
      name="visitor_email"
      id="visitor_email"
      placeholder={{ T "email_label" }}
      required
    />
  </div>
  <div class="field">
    <label for="message">Message</label>
    <textarea name="message" id="message" placeholder={{ T "msg_label" }} required></textarea>
  </div>

  <input type="submit" id="button" value={{ T "submit_button" }} />
</form>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
></script>

<script type="text/javascript">
  emailjs.init("hcwh1BzimepUo_Ba4")
</script>

